html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    height: 100%;
     box-sizing: border-box;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    align-items: center;
    margin: 0 0px;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    background-color: white;
}

/* Hero */

.hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #CCC;
    position: relative;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 17.5px;
  }
  
  .hero-one {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/bghero.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/imagenbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .header-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-primary {
    font-size: 2em;
    display: block;
    font-weight: 700;
  }

/* hero end */

.menu {
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    flex: 1;
    align-items: center;
    text-align: center;
}

.info-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#2A8CC8;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 50px;
    text-transform: uppercase;
 
}





.noticias-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#49AC7B;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 50px;
    text-transform: uppercase;
 
}

.nosotros-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#524482;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 50px;
    text-transform: uppercase;
 
}

.contacto-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#D94F42;;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 50px;
    text-transform: uppercase;
}

.nav-logo{
    margin: 0 40px;
    height: inherit;
    width: 100px; 
}

.social-logo.instagram{
    margin: 0 40px;
    height: 2em;
    width: 2em; 
}

.social-logo.facebook{
    margin: 0 40px;
    height: 2em;
    width: 2em; 
}

/*
.bghero{
    background-image:url('fotos/bghero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0 50px;
    
}

.hero{
    color: rgba(255, 255, 255, 0.815);
    max-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0px;
    background-color: rgba(0, 0, 0, 0.6);
    flex-wrap: wrap;
}
*/
.main-title{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 50px;
    padding: 0 0 250px 100px;
}

.about-us{
    background: #f4fbff;
    margin: 0 150px;
}

.about-usContainer{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 20px;
}

.about-usTitle{
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.about-us-imageContainer{
    padding: 20px 30px;
}

.news-maintitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Lato', Helvetica, sans-serif;
}

.news-container{
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 80px 0;
    flex-wrap: wrap;
}

.news-title{
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.news-section,
.news-date,
.news-url{
    margin: 10px 0;

}

.news-description{
    font-size: 20px;
}

.news-image{
    max-height: 100%;
    max-width: 100%;
}

.news-imageContainer{
    width: auto;
    text-align: center;
}

.news-details{
    width: 50%;
}

.information-title{
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: 50px 0;
}


.information{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.organ{
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
    margin-top: 50px;
    max-width: 90vw;
}

.organ-textContainer{
    margin: 20px 40px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.organ-image{
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.contact{
    background-color: #2A8CC8;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.social-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social{
    margin: 20px;
}

.social-link.facebook{
    background-image: url('fotos/facebook.svg');
}

.social-link.instagram{
    background-image: url('fotos/instagram.svg');
}

.form-email{
    margin-left: 20px;
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('fotos/envelope.svg');
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    padding: 10px 0;
    background: transparent;
    color: white;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Lato', sans-serif;
}

.footer{
    background-color: rgb(22, 20, 20);
    color: whitesmoke;
    height: 40px;
    margin: 0;
    padding: 10px;
    width: 100%;
}
 .footer p{
     margin: 0;
     font-family: 'Lato', sans-serif;
 }

 @media screen and (max-width: 1023px) {
    
   } 

 @media screen and (max-width: 767px) {
    .header ol {
        display: block;
     }
    .header ol li{
        height: 2em;
     }

    .news-container{
        display: block;
    }

    .news-section,
    .news-date,
    .news-url{
        font-size: 4vw;
    }
    .news-details{
        font-size: 1vw;
        width: 100%;
     }
     .news-imageContainer{
         text-align: start;
     }
    } 

@media screen and (max-width: 480px) {
       } 

@media screen and (max-width: 320px) {
        
       } 
/*
@media screen and (min-width: 768px) {
    .news-section,
    .news-date,
    .news-url{
        font-size: 1.3vw;
    }
    .news-title{
        font-size: 2vw;
     }
       } 