@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tc7q2y');
  src:  url('fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tc7q2y') format('truetype'),
    url('fonts/icomoon.woff?tc7q2y') format('woff'),
    url('fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 0 auto;
    height: 100%;
     box-sizing: border-box;
}

/* MENU */

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    align-items: center;
    margin: 0 0px;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    background-color: white;
    position: fixed;
    z-index: 3;
}

.menu {
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    flex: 1;
    align-items: center;
    text-align: center;
}

.info-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#2A8CC8;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px;
}

.info-button:hover{
  color: white;
  background-color: #2A8CC8;
  transition: 0.5s;
}

.noticias-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#49AC7B;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px 
}

.noticias-button:hover{
  color: white;
  background-color: #49AC7B;
  transition: 0.5s;
}

.nosotros-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#524482;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px
 
}

.nosotros-button:hover{
  color: white;
  background-color: #524482;
  transition: 0.5s;
}

.contacto-button{
    font-family: 'Lato', Helvetica, sans-serif;
    color:#D94F42;;
    font-weight: 600;
    text-decoration: none;
    height: inherit;
    align-items: center;
    margin: 0 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px
}

.contacto-button:hover{
  color: white;
  background-color: #D94F42;
  transition: 0.5s;
}

.nav-logo{
    margin: 0 40px;
    height: inherit;
    width: 4em; 
}

.social-logo{
    margin: 0 1vw;
    height: 1.5em;
    width: 1.5em; 
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #CCC;
    position: relative;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 17.5px;
  }
  
  .hero-one {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/bghero.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/imagenbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .hero-oneSC {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/sc.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoSC {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/consejomain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-oneAG {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/aghero.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoAG {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/ag2hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-oneSE {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/embajadores1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoSE {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/embajadores2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-oneOM {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/onumujeres1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoOM {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/onumujeres2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-oneES {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/ecosoc1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoES {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/ecosoc2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-oneAU {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/autoridades1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoAU {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/autoridades2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-oneTO {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/topicos1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoTO {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/topicos2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-oneDT {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/docentehero.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoDT {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/docenteshero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-oneUM {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(fotos/sede.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-twoUM {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(fotos/jovenes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-primary {
    font-size: 2em;
    display: block;
    font-weight: 700;
  }

/* SOBRE NOSOTROS */


.about-us{
    background-color: #f5f1fa;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    border-bottom: 1px solid gray;
    padding: 7vw;
    text-align: center;
    background-image: url(fotos/fondobanderas.png);
    background-blend-mode: overlay;
}

.um-about{
  margin-bottom: 5vw;
}

.um-about button{
  padding: 10px;
  background: #2A8CC8;
  color: white;
  border-radius: 5px;
  margin: 10px;
  font-size: large;
}

.um-about button:hover{
  transition: .5s;
  font-size: 19px;
}

.values-button{
  padding: 10px;
  background: #2A8CC8;
  color: white;
  border-radius: 5px;
  margin: 10px;
  font-size: large;
}

 .values-button:hover{
  transition: .5s;
  font-size: 19px;
}

h2,
h3{
  text-transform: uppercase;
}

.values{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.valueImage{
  width: 40%;
}

.value{
  width: 33%;
  margin: 0 3vw 3vw 3vw;
}

/*INFORMACIÓN*/

.information-title{
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 50px;
    WIDTH: 100%;
  }

  
.information{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(fotos/umfondo1.png);
}

.organ{
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
    margin: 3vw;
    max-width: 90vw;
}

.organ-textContainer{
    margin: 20px 40px;
    background-color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: -40px;
    z-index: 2;
}

.organ-imageContainer{
  width: 360px;
  height: 200px;
}

.organ-image{
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.organ-imageContainer:hover{
  transition: .5s;
  width: 370px;
}


.sentence{
  margin: 0;
}

/* NOTICIAS */

.um-journal{
    background-color: #f5f1fa;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-image: url(fotos/fondobanderas.png);
    background-blend-mode: overlay;
}

.news-maintitle{
    text-transform: uppercase;
    text-align: center;
    padding: 7vw 0 2vw 0;
    font-family: 'Lato', Helvetica, sans-serif;
}

.news-container{
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 80px 0;
    flex-wrap: wrap;
}

.news-title{
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.news-section,
.news-date,
.news-url{
    margin: 10px 0;

}

.news-description{
    font-size: 20px;

}

.news-image{
    max-height: 100%;
    max-width: 100%;
}

.news-imageContainer{
    width: auto;
    text-align: center;
}

.news-details{
    width: 50%;
}

.sponsors{
  background-image: url(fotos/umfondo1.png);
  border-bottom: 1px solid gray
}

.sponsors h3{
  text-align: center;
  padding: 2vw;
}

.sponsors-images{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.sp-image{
  height: 200px;
  width: 200px;
  margin: 1em;
  border-radius: 50%;
}

/* CONTACTO */

.contact{
    background-color: #2A8CC8;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.data {
  display: block;
  margin: 1em;
}

.data-text{
    display: flex;
    align-items: center;
    color: white;
  }

.data-image{
  width: 20px;
  margin: 0 10px 0 0;
}

.form-email{
    margin-left: 20px;
    margin: 1em;
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('fotos/envelope.svg');
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    padding: 10px 0;
    background: transparent;
    color: white;
    width: 100px;
    border-radius: 5px;
    margin: 10px;
}

.form-email h3{
    font-family: 'Lato', sans-serif;
}

/* FOOTER */

.footer{
    background-color: rgb(22, 20, 20);
    color: whitesmoke;
    height: 40px;
    margin: 0;
    width: 100%;
  }
  .footer p{
    padding: 10px;
     margin: 0;
     font-family: 'Lato', sans-serif;
 }

  /*paginas satelite*/
.general h3,
.dinamica h3{
  width: 100%;
  text-align: center;
}

.testimony{
  max-width: 60%;
}

.archivos{
  padding: 3vw 0 1vw 11vw;
}

.rules b{
  font-size:2vw;
  text-align: center;
}

  .rules-text{
    width: 50%;
  }
  
  .historia,
  .general,
  .dinamica{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5vw;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-size: large;
  }

  .historia img,
  .general img,
  .dinamica img{
    width: 10em;
  }

.dinamica{
  background-color: #f5f1fa;
  background-image: url(fotos/fondobanderas.png);
  background-blend-mode: overlay;
}

.archivos,
.general{
    background-color: #f5f1fa;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.archivos img{
  width: 10vw;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 10px;
  top: 10px;
  color: white;
}

/*RESPONSIVE DESIGNE*/

 @media screen and (max-width: 1023px) {
    
   } 

 @media screen and (max-width: 767px) {
  .testimony,
  .rules-text{
    width: initial;
  }
  
  .burger-button {
    display: block;
  }  
  .nosotros-button,
  .info-button,
  .contacto-button,
  .noticias-button{
    color: white;
  }
  .menu {
    position: fixed;
    background: rgba(5, 111, 255, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }

  .header ol {
        display: block;
     }
    .header ol li{
        height: 2em;
     }

    .news-container{
        display: block;
    }

    .news-section,
    .news-date,
    .news-url{
        font-size: 4vw;
    }
    .news-details{
        font-size: 1vw;
        width: 100%;
     }
     .news-imageContainer{
         text-align: start;
     }
     .values{
      flex-wrap: wrap;
     }
     .value{
       width: initial;
     }

     .form-email {
      text-align: center;
  }
  .header-title{
    font-size: medium;
  }
    } 


@media screen and (max-width: 480px) {
       } 

@media screen and (max-width: 320px) {
        
       } 
@media screen and (min-width: 1441px) {
    .news-section,
    .news-date,
    .news-url{
        font-size: 1vw;
    }
     .news-description{
         font-size: 1vw
     }
     a,
     h4,
     p{
         font-size: 1vw;
     }
       
    } 

  /*footer*/
    